 
/*General Styling for the Whole project*/


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #2d3436;
}


html {
    font-size: 20px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


h1 {
    font-weight: 500;
}


.blue-a {
    color: #3498db;
    font-size: 80%;
}


header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}


header ion-icon {
    font-size: 130%;
    -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease, -webkit-transform 0.2s ease;
}


header ion-icon:hover {
    color: #0984e3;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
}


header h1 {
    font-size: 250%;
}


header h1 a {
    text-decoration: none;
}


header a {
    width: 90px;
}


header a:last-of-type {
    text-align: right;
}


footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 70%;
    border-top: 1px solid #efefef;
}


footer ion-icon {
    color: #d63031;
    vertical-align: middle;
}


em {
    color: #e74c3c;
}


.date {
    font-size: 70%;
    color: #999;
}


h6 {
    color: #2980b9;
}


.underlined {
    text-decoration: underline;
}


.btn {
    border-radius: 40px;
    border: 1px solid #2980b9;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    width: 90px;
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}


.btn:hover {
    background-color: #0984e3;
    color: #efefef;
}


.btn-fill {
    background-color: #065ea2;
    color: #efefef;
}
